<!DOCTYPE html>
<html lang="{{lang}}">
<head>

    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Base Meta --}}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- Google fonts --}}
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins:300,500|Montserrat:400,700|Open+Sans:400,700,400italic,700italic">

    {{!-- Styles --}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/ionicons.min.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/slick.min.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/remodal.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/remodal-default-theme.css"}}" />
    <!-- Custom Theme Style -->
    <link rel="stylesheet" type="text/css" href="{{asset "css/custom.css"}}" />

    {{!-- This tag outputes SEO meta+structured data and other important settings --}}
    {{ghost_head}}
    <script type="text/javascript" src="/assets/js/jquery-3.2.1.min.js"></script>

</head>
<body class="{{body_class}}">

    {{!-- Location: partials/header.hbs --}}
    {{> "header"}}

    {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
    {{{body}}}


    <!-- <div data-remodal-id="modal-subscribe">
        <button data-remodal-action="close" class="remodal-close"></button>
        <h3 align="center" class="section-header">Subscribe for the latest Black Denims.</h3>
        <p align="center">I won't bug you often, but when I do it will include awesome Shopping, Style and Mama tips!</p>

        <p align="center">
            {{subscribe_form
            form_class="subscribe-form"
            input_class="subscribe-input"
            button_class="subscribe_button"
            placeholder="yourmail@example.com"}}
        </p>
    </div> -->

    {{!-- Location: partials/footer.hbs --}}
    {{> "footer"}}

    {{!-- #Scripts --}}
    {{!-- jQuery v3.2.1 --}}
    <script src="//code.jquery.com/jquery-latest.js"></script>

    {{!-- slick.js --}}
    <script type="text/javascript" src="{{asset "js/slick.min.js"}}"></script>

    {{!-- ghosthunter.js --}}
    <script type="text/javascript" src="{{asset "js/jquery.ghosthunter.js"}}"></script>

    {{!-- fitvids.js --}}
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>

    {{!-- main script js --}}

    {{!-- remodal script js --}}
    <script type="text/javascript" src="{{asset "js/remodal.js"}}"></script>

    <script>
        if (!sessionStorage.isNewSession)
            setTimeout(func, 4000);

        function func() {
            var inst = $('[data-remodal-id=modal-subscribe]').remodal();
            inst.open();
            sessionStorage.isNewSession = true;
        }
    </script>

    {{!-- The #block helper will pull in data from the #contentFor other template files. In this case, there's some JavaScript which we only want to use in post.hbs, but it needs to be included down here, after jQuery has already loaded. --}}
    {{{block "scripts"}}}

    {{!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the closing body tag --}}
    {{ghost_foot}}
    <script type="text/javascript">
      $(document).ready(function(){
        $('a[href^="http://"], a[href^="https://"]').not('a[href*=blackdenims\\.com]').attr('target','_blank');
      });
    </script>
</body>
</html>
