<header id="header">
    <div>

        <div class="container">

            <div class="site-branding">

                <div class="brand">
                    {{#if @blog.logo}}
                        <h1 class="site-title-image"><a href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}"/></a></h1>
                    {{else}}
                        <h2 class="site-title-image"><a href="{{@blog.url}}">{{@blog.title}}</a></h2>
                    {{/if}}

                    
                </div>

            </div>

            <div class="site-nav">
                {{> "nav"}}

                <a href="#" class="sidebar-toggle"><span></span></a>
            </div>

        </div>
    </div>
</header>

{{> "responsive_nav"}}

{{> "search"}}
