<div class="page-nav">
	
	<div class="newer pager">
	{{#if pagination.prev}}
		<a href="{{page_url pagination.prev}}"><span class="ion-ios-arrow-thin-left"></span></a>
	{{else}}
		<span class="ion-ios-arrow-thin-left"></span>
	{{/if}}	
	</div>

	<span>{{pagination.page}} / {{pagination.pages}}</span>

	<div class="older pager">
	{{#if pagination.next}}
		<a href="{{page_url pagination.next}}"><span class="ion-ios-arrow-thin-right"></span></a>
	{{else}}
		<span class="ion-ios-arrow-thin-right"></span>
	{{/if}}
	</div>
	
</div>