<article id="post" class="post-{{comment_id}} {{post_class}}">

	{{!-- Location: partials/post/post-title.hbs --}}
	{{> "post/post-title"}}

	<div class="inner">
		<div class="post-content">
			{{content}}

			{{!-- Location: partials/post/post-meta.hbs --}}
			<!-- {{> "post/post-meta"}} -->

			{{!-- Location: partials/post/post-sharing.hbs --}}
			{{> "post/post-sharing"}}

			{{!-- Location: partials/post/post-author.hbs --}}
			<!-- {{> "post/post-author"}} -->
		</div>
		<div class="sidebar-post">
			<h4  class="widget-title">{{t "Recent Posts"}}</h4>

			{{#get "posts" limit="3"}}


			    {{#foreach posts}}
			        <!-- <li>
			            <a href="{{url}}">{{title}}</a>
			        </li> -->
					<div style="widget:100%;height:150px">
						<div class="entry-content">

					        <div class="entry-overlay"></div>

					        {{#if feature_image}}
					            <div class="entry-cover" style="background-image: url({{feature_image}})"></div>
					        {{/if}}

					        <header class="entry-header">
					            <a class="entry-link" href="{{url}}"></a>
					            <h2 class="entry-title"><a href="{{url}}">{{title}}</a></h2>
					            <div class="entry-meta">
					                {{#foreach authors}}
					                <!-- span class="byauthor">{{{t "By <a href='{href}'>{name}</a>" href=(url) name=name}}}</span> -->
					                {{/foreach}}
					            </div>
					        </header>

					    </div>
					</div>
			    {{/foreach}}
				<div style="clear:both">
				<br/>


				</div>

			{{/get}}

			<h3><strong>Where I Shop</strong></h3>
				<p><a href="https://www.shopbop.com" target="_blank">Shopbop</a></p>
				<p><a href="https://www.revolve.com" target="_blank">Revolve</a></p>
				<p><a href="https://us.asos.com" target="_blank">ASOS</a></p>
				<p><a href="https://shop.nordstrom.com" target="_blank">Nordstrom’s</a></p>
				<p><a href="https://www2.hm.com/en_us/index.html" target="_blank">H&M</a></p>
				<p><a href="https://www.zara.com/us/" target="_blank">Zara</a></p>
				<p><a href="https://www.target.com" target="_blank">Target</a></p>
				<p><a href="https://www.sephora.com" target="_blank">Sephora</a></p>

			<!-- LightWidget WIDGET --><script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="https://cdn.lightwidget.com/widgets/f035b1b7804a5a0fa32c5e014e0aa9e0.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
		</div>
	</div>

</article>
